@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #898DD9, #7C05F2);
}

main{
    background-color: #fff;
    width: 700px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #38036e98;

}

p{
    text-align: justify;
}

h1 {
    text-align: center;
    color: #ee5b5b;
    text-shadow: 1px 1px 2px rgb(68, 22, 22)
    
}

h2{
    color: #c04f4f;
}